---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/sections/hero/Hero.astro";
import About from "@/components/sections/about/About.astro";
import Skills from "@/components/Skills.astro";
import Projects from "@/components/sections/projects/Projects.astro";
import Posts from "@/components/sections/posts/Posts.astro";
import Contact from "@/components/sections/contact/Contact.astro";

// Proyectos destacados
const featuredProjects = (await getCollection("projects"))
  .sort((a, b) => a.data.order - b.data.order)
  .slice(0, 5);

// Últimos posts del blog
const latestPosts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<Layout title="Jean Carlos Tomichá Ressa" description="Portafolio técnico.">
  <div class="page">
    <!-- HERO -->
    <Hero />

    <!-- SOBRE MÍ -->
    <About />

    <!-- HABILIDADES -->
    <Skills />

    <!-- PROYECTOS -->
    <Projects />

    <!-- POSTS -->
    <Posts />

    <!-- CONTACTO -->
    <Contact />
  </div>
</Layout>
