<div
  class="opacity-0 translate-y-3.5 transition-all duration-500 ease-out"
  data-fade
>
  <slot />
</div>

<script>
  const threshold = 0.08;
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((e) => {
        if (e.isIntersecting) {
          e.target.classList.remove("opacity-0", "translate-y-3.5");
        }
      });
    },
    { threshold },
  );

  document
    .querySelectorAll("[data-fade]")
    .forEach((el) => observer.observe(el));
</script>
