<!-- HERO -->
<div class="hero fade">
  <div class="availability">
    <div class="dot"></div> disponible para proyectos
  </div>
  <h1>Jean Carlos<br /><span class="green">Tomichá Ressa</span></h1>
  <p class="hero-sub">
    Ingeniero electromecánico con más de 3 años de experiencia en diseño de
    instalaciones eléctricas, redes MT/BT y elaboración de planos técnicos.
  </p>
  <div class="hero-ctas">
    <a href="#contacto" class="btn-main">contactar →</a>
    <a href="https://github.com/jeanctr" target="_blank" class="btn-ghost"
      >GitHub</a
    >
    <a
      href="https://www.linkedin.com/in/jeancarlostr"
      target="_blank"
      class="btn-ghost">LinkedIn</a
    >
  </div>
</div>
