---
import { navLinks } from "@/constants";
---

<nav>
  <a href="/" class="nav-logo">JCT<span>.</span></a>
  <div class="nav-links">
    {navLinks.map((link) => <a href={link.href}>{link.label}</a>)}
    <a href="/#habilidades">habilidades</a>
    <a href="/#proyectos">proyectos</a>
    <a href="/#contacto">contacto</a>
  </div>
</nav>
