---
---
<nav>
  <a href="/#" class="logo">JCT<em>.</em></a>
  <div class="nav-links">
    <a href="/#sobre-mi">sobre mí</a>
    <a href="/#proyectos">proyectos</a>
    <a href="/blog">blog</a>
    <a href="/#contacto">contacto</a>
  </div>
</nav>
