---
const skills = [
  { name: "AutoCAD", cat: "diseño" },
  { name: "Revit", cat: "diseño" },
  { name: "Detallado de planos", cat: "diseño" },
  { name: "Diseño de instalaciones eléctricas", cat: "ingeniería" },
  { name: "Redes eléctricas MT y BT", cat: "ingeniería" },
  { name: "Python", cat: "programación" },
  { name: "JavaScript", cat: "programación" },
  { name: "Git", cat: "programación" },
  { name: "Linux", cat: "programación" },
];
---

<section id="habilidades">
  <h2 class="text-[12px] font-bold text-text uppercase tracking-widest mb-12">
    Habilidades Térnicas
  </h2>

  <div class="space-y-4">
    {
      skills.map(({ name, cat }) => (
        <div class="sm:grid sm:grid-cols-[140px_1fr] sm:gap-6 flex flex-col gap-1 group">
          <span class="text-[13px] text-muted font-mono mt-1">{cat}</span>
          <span class="text-[16px] text-text font-medium tracking-tight group-hover:text-green transition-colors">
            {name}
          </span>
        </div>
      ))
    }
  </div>
</section>
